/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 jun 2024, 11:10:43
    Author     : USUARIO
*/

/* Specific styles for Hunter x Hunter page */
iframe {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.audio-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

audio {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}